<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style3.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Content Page</title>

    <!-- description text that displays below the link in google search results -->
    <meta name="description" content="Description of site" />

</head>

<body>

<section class="page-wrap">


    <header> <!-- Defining the header section of the page with the appropriate tag -->

        <div>
            <h1>Content per Week</h1>
            <p></p>
        </div>

        <nav> <!-- The nav link semantically marks your main site navigation -->
            <ul>
                <li><a href="#block1">Week 1</a></li>
                <li><a href="#block2">Week 2</a></li>
                <li><a href="#block3">Week 3</a></li>
                <li><a href="#block4">Week 4</a></li>
                <li><a href="#block5">Week 5</a></li>
            </ul>
        </nav>

    </header>

    <article id="block1" class="module-block">

        <h2>Week 1 - Introduction to Core Java and Github</h2>

        <img class="right" src="http://placehold.it/150" alt="" />

        <p>It’s a general term used by Sun Microsystems to describe the standard version of Java (JSE). It’s the most basic version of Java which sets the foundation for all other editions of Java plus a set of related technologies such as CORBA, Java VM, etc. Core Java refers to a collection of libraries rather than just the programming language.</p>
        <p>GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.</p>

        <ul class="social">

            <li><a href="https://www.journaldev.com/7153/core-java-tutorial">View More</a></li>

            <li><a href="https://product.hubspot.com/blog/git-and-github-tutorial-for-beginners">View More</a></li>

        </ul>

    </article>

    <article id="block2" class="module-block">

        <h2>Week 2 - Core Java - 2nd Part</h2>

        <img class="right" src="http://placehold.it/150" alt="" />

        <p>The second week of the Java Web Developement Bootcamp, we have worked on the following concepts: Java Virtual Machine, Basics, First Java Program, Variables in Java, Java Data Types, Java Operators, if-else statements in Java, Swich-Case in Java, Java For Loop, Java While Loop, do-while look in Java, Java Continue Statement, Java Break Statement.</p>

        <ul class="social">

            <li><a href="https://beginnersbook.com/java-tutorial-for-beginners-with-examples/">View More</a></li>

        </ul>

    </article>

    <article id="block3" class="module-block">

        <h2>Week 3 - Object-Oriented Programming in Java</h2>

        <img class="right" src="http://placehold.it/150" alt="" />

        <p>The third week of the Java Web Developement Bootcamp, we have worked on the following concepts: What is an Object in Java, What is a class in Java, What is a constructor in Java, Object-Oriented Programming Features: Abstraction, Composition, Encapsulation, Inheritance, Polymorphism, Abstract Class and Methods in Java, Interfaces in Java.</p>

        <ul class="social">

            <li><a href="https://beginnersbook.com/2013/04/oops-concepts/">View More</a></li>

        </ul>

    </article>

    <article id="block4" class="module-block">

        <h2>Week 4 - Introduction HTML, CSS, Boostrap 4, JavaScript and SpringBoot Framework</h2>

        <img class="right" src="http://placehold.it/150" alt="" />

        <p>The fourth week of the Java Web Developement Bootcamp, we have worked on the following concepts: All HTML basics, all CSS basics, all Boostrap 4 basics, all JavaScript basics, and an intro to the SpringBoot Java Framework.</p>

        <ul class="social">

            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">View More 1</a></li>

            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">View More 2</a></li>

            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript">View More 3</a></li>

            <li><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">View More 4</a></li>

            <li><a href="https://www.baeldung.com/spring-boot">View More 5</a></li>

        </ul>

    </article>

    <article id="block5" class="module-block">

        <h2>Week 5 - SpringBoot Java Framework 2nd Part</h2>

        <img class="right" src="http://placehold.it/150" alt="" />

        <p>The fifth week of the Java Web Developement Bootcamp, we will be working on the following concepts: Spring Boot Annotations, Spring Boot Actuator, Configure a Spring Boot Web Application, How to change the Default Port in Spring Boot, Spring Boot Change Context Path, Automatic Property Expansion with Sprint Boot, Sprint Boot: Customize Whitelabel Error Page, Properties with Spring and Spring Boot, Spring Boot: Configuring a Main Class, How to Define a Spring Boot Filter, Using Custom Banners in Spring Boot, Command-Line Arguments in Spring Boot, Shutdown a Spring Boot Application.</p>

        <ul class="social">

            <li><a href="https://www.baeldung.com/spring-boot">View More</a></li>

        </ul>

    </article>

</section>


<footer>

    <p>Copyright 2020 - <a href="mailto:">Cristian Reynoso-Betancourt</a></p>
    <p class="up"><a href="#">Go Up ⇪</a></p>

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
